
@model WebsiteMovie_DAN.Models.tintucphim
@using WebsiteMovie_DAN.Models;
@{
    ViewBag.Title = "ChiTietTinTuc";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="tieude" style="font-size:20px; margin:25px 25px 10px 25px ;color: #333">@Model.tieude</div>
<div class="thoigian_luotxem" style="display: flex;margin-left:25px;font-size:15px;margin-bottom:10px">
    <div>@Model.ngaycapnhat</div>
    <div style="margin-left: 20px">@Model.luotxem lượt xem</div>
</div>
<a href="#" style="margin-left:25px">
    <span class="item-genre genre-2   has-background ">Tin tức phim mới</span>
</a>


<div class="col-xl-12" style="margin-left:10px;padding-top:15px">
    <a href="#">
        <img width="100%" src="~/Content/Images/@Model.hinhanh" />
    </a>
</div>
<div class="col-xl-12">
    <div class="noidungtintuc" style="padding-left:15px;padding-top:35px">

        @Model.noidung


    </div>
</div>
