@using WebsiteMovie_DAN.Models
@{
    ViewBag.Title = "Tìm Kiếm Theo Quốc Gia - NamLoc Movie";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h3 style="color:#43a6df;font-size:19px;margin-top:10px;margin-left:10px;border-bottom:2px solid #43a6df">Danh sách tìm kiếm</h3>
<div class="row" style="padding: 10px">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-4 col-6" style="margin-top: 10px">
            <div class="latest-movie-img-container">
                <div class="movie-img">
                    <a href="~/ChiTietPhim/ChiTietPhim/@item.ID">
                        <img class="img-responsive lazy" src="~/Content/Images/@item.Img" style="display: block;">
                    </a>
                    <a href="~/ChiTietPhim/ChiTietPhim/@item.ID" class="ico-play ico-play-sm">
                        <svg class="svg-play" version="1.1" id="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100px"
                             viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                        <path class="stroke-solid" fill="none" stroke="white" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
    C97.3,23.7,75.7,2.3,49.9,2.5" />
                        <path class="stroke-dotted" fill="none" stroke="white" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
    C97.3,23.7,75.7,2.3,49.9,2.5" />
                        <path class="icon" fill="white" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
                                                            </svg>
                    </a>
                    <a href="~/ChiTietPhim/ChiTietPhim/@item.ID">
                        <div class="overlay-div"></div>
                    </a>

                    <div class="video_quality">
                        <span class="label label-primary">
                            @item.ThoiLuong
                        </span>
                    </div>
                    <div class="movie-title">
                        <h3>
                            <a href="~/ChiTietPhim/ChiTietPhim">@item.TenPhim</a>
                        </h3>
                    </div>
                </div>

            </div>
        </div>

    }

</div>
