@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="font-size:30px;color:#000;text-align:center;padding-top:240px">
    Đây là website phim do Phạm tài lộc và trương kim nam làm chưa phải hoàn thiện nhất
    <p style="color:#000">sdt liên hệ: 0368454850  </p>
   
</h1>
