@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="font-size:30px;color:#000;text-align:center;padding-top:240px">
    HỆ THỐNG WEBSITE XEM PHIM TRỰC TUYẾN
    <p style="color:#000">NAMLOC MOVIE</p>
    <p style="color:#000">Số điện thoại liên hệ: 0368454850 (Lộc) Hoặc 0867165862 (Nam)  </p>

</h1>
